[Unit]
Description=VMSlogger - store VMS data to HDF5 files
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n -v /vms-data/:/vms-data/:rw --network host vmslogger VMSlogger -5 --workdir /vms-data --template '%%Y/%%m/$${name}-%%Y-%%m-%%dT%%H:%%M.$${ext}' M1M3 M2 Rotator

[Install]
WantedBy=multi-user.target
